$green: #89b266;
$white: #ffffff;
$dark: #494242;

body {
	background: $green url(../img/pattern/greenbokeh.jpg) repeat;
	color: $white;
	font-family: "Titillium Web" sans-serif;
	font-size: 18px;
	font-weight: 500;
}