@import "reset";

@import "bourbon/bourbon";

// $visual-grid: true;
$visual-grid-index: front;
$visual-grid-color: magenta;
$visual-grid-opacity: 0.15;
// $max-width: em(1280);
@import "neat/neat";

$green: #89b266;
$white: #ffffff;
$dark: #494242;

body {
	background: $green url(../img/pattern/greenbokeh.jpg) repeat;
	font-family: "Maven Pro" sans-serif;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.2;
}

.airy{
	@include fill-parent;
	@include outer-container;
	@include pad();
	color: $white;
	h1, h2{
		text-transform: uppercase;
		font-family: "Yummo" sans-serif;
	}
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}
}

.paper {
	div {
		@include fill-parent;
		@include outer-container;
		@include pad();
	}
	background: $white  url(../img/pattern/ricepaper.jpg) repeat;
	color: $dark;
	font-family: "Alegreya" serif;
	margin-bottom: 1em;
	box-shadow: 0 0 10px rgba($dark, 0.5);
	h1 {
		font-family: "Alegreya" serif;
		font-weight: 900;
		text-transform: capitalize;
		font-size: 2em;
	}
	article {

	}
}

.floating {
	@include span-columns(6);
	@include outer-container;
	@include pad();
	h2 {
		@include span-columns(4 of 6);
		@include shift(1)
		// @include clearfix;
	}
	img.icon {
		@include span-columns(2 of 6);
		@include shift(2)
		// @include clearfix;
	}
}

.right {
	@include shift(6);
	text-align: right;
}

.center {
	text-align: center;
}