@font-face {
	font-family: 'Kaushan';
	src: url('fonts/kaushan/kaushan-400.eot');
	src: url('fonts/kaushan/kaushan-400.eot?#iefix') format('embedded-opentype'),
	     url('fonts/kaushan/kaushan-400.woff') format('woff'),
	     url('fonts/kaushan/kaushan-400.ttf') format('truetype'),
	     url('fonts/kaushan/kaushan-400.svg#kaushan_scriptregular') format('svg');
	font-weight: normal;
	font-style: normal;
}