@font-face {
	font-family: 'Maven';
	src: url('fonts/maven/maven-500.eot');
	src: url('fonts/maven/maven-500.eot?#iefix') format('embedded-opentype'),
	     url('fonts/maven/maven-500.woff') format('woff'),
	     url('fonts/maven/maven-500.ttf') format('truetype'),
	     url('fonts/maven/maven-500.svg#maven_promedium') format('svg');
	font-weight: normal;
	font-style: normal;

}