# No File Extensions

Redirect /CCL http://climatecolab.org/web/guest/plans/-/plans/contestId/1300205/planId/1309102
Redirect /ccl http://climatecolab.org/web/guest/plans/-/plans/contestId/1300205/planId/1309102
Redirect /CCL/ http://climatecolab.org/web/guest/plans/-/plans/contestId/1300205/planId/1309102
Redirect /ccl/ http://climatecolab.org/web/guest/plans/-/plans/contestId/1300205/planId/1309102
Redirect /qr http://blog.kijani.co
Redirect /totebag http://www.amazon.com/Natural-Reusable-Eco-Tote-Bag/dp/B014AKMA58/ref=aag_m_pw_dp?ie=UTF8&m=ANQC7TEVH6V99
Redirect /totebags http://kijani.ngo/totebag
Redirect /accounting https://docs.google.com/spreadsheets/d/1C1SYbmf01TsnHqzXZlaJewcMD248sBkdV9A82NYLNlQ
Redirect /newsletter http://eepurl.com/3g5dr
Redirect /newsletter/archive http://us8.campaign-archive1.com/home/?u=7615375b5b079dcf23385adbe&id=3a825f2e8c
Redirect /soa_paypal https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=AX9WGWWBBN3S2
Redirect /styleguide https://app.frontify.com/d/wMWXTshZOlRE
Redirect /pdf http://kijani.ngo/docs/Kijani%20Project%20Description%20v4.pdf
Redirect /support-us http://kijani.ngo/docs/supportletter2015.pdf

# Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
# END Gzip

# BEGIN Caching
<ifModule mod_headers.c>
<filesMatch "\\.(ico|pdf|flv|jpg|jpeg|png|gif|swf)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>
<filesMatch "\\.(css)$">
Header set Cache-Control "max-age=604800, public"
</filesMatch>
<filesMatch "\\.(js)$">
Header set Cache-Control "max-age=216000, private"
</filesMatch>
<filesMatch "\\.(xml|txt)$">
Header set Cache-Control "max-age=216000, public, must-revalidate"
</filesMatch>
<filesMatch "\\.(html|htm|php)$">
Header set Cache-Control "max-age=1, private, must-revalidate"
</filesMatch>
</ifModule>
# END Caching

# BEGIN Minify
<IfModule pagespeed_module>
    ModPagespeed on
    ModPagespeedEnableFilters remove_comments,
</IfModule>
# END Minify
